
<% if Rate.last.present? && Rate.last.date >= Date.today %>
	<h2>Форсированный курс</h2>
	<%= @rate.custom_value %>
	<h2>Срок действия, до:</h2>
	<%= @rate.date %>
<% else %>
	<h2>Официальный курс доллара на сегодня</h2>
	<%= @official_rate %>
<% end %>
